<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-3" style=" background-image: linear-gradient(darkcyan, darkcyan); ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left mt-3">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase text-white">DEVELOPER : </h5><span style="font-size: 20px;">RAHUL KUMAR</span>
          <p class="text-white">Final year student of Bhagalpur College of Engineering, Bhagalpur</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase text-white">Important Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">About</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQs</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact</a>
            </li>
            <li>
              <a href="#!" class="text-white">User</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase text-white">Social Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fa fa-facebook" aria-hidden="true"></i> FaceBook</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkDin</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
      <a href="/" class="text-white"> onlinelibrarycontroller.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
<script>
 $(document).ready(function(){
  $('#barsicon').click(function(){
      $('#barsdiv').toggle();
  });
});

$(document).ready(function(){
  $('#usericon').click(function(){
      $('#userdiv').toggle();
  });
});

$(document).ready(function(){
$('#searchicon').click(function(){
  $('#searchdiv').toggle();
});
});

$(document).ready(function(){
$('#courseicon').click(function(){
  $('#coursediv').toggle();
});
});

$(document).ready(function(){
$('#buk').click(function(){
  $('#sm4').toggle();
});
});

</script>




<a href="#"></a>

</body>

</html>