<%- include ('./partials/header') -%>

<h2 class="text-center pt-5 pb-5 text-danger">About Us</h2>

<h4 class="text-center" style="color: darkcyan;"> Hi, I am a student with small web developer and a video creater of Bhagalpur College of Engineering, Bhagalpur.</h4>

<h4 class="pt-3"><a href="" class="row justify-content-center"><i class="fa fa-youtube-play text-danger " aria-hidden="true"> Online Library Controller</i></a></h4>

<h4 class="text-center pt-3 pb-5" style="color: darkcyan;">- : Thank you for visiting this digital library : -</h4>

<%- include ('./partials/footer') -%>